/* LogoPage.css */
body {
  background-color: #f0f0f0;
}

.logo-container {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh; /* 뷰포트 높이 100% */
  width: 100vw; /* 뷰포트 너비 100% */
}
/* LogoPage.css */
.logo {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh; /* 뷰포트 높이 100% */
  width: 100vw; /* 뷰포트 너비 100% */
}
