body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* 배경색을 추가하여 SVG가 더 잘 보이도록 */
}

.center-svg {
  width: 200px;
  height: 200px;
}

.main-page {
  display: flex;
  flex-direction: column;
}
